<!--The content below is only a placeholder and can be replaced.-->


<ul class="nav float-right">
  <li class="nav-item small">
    <a class="nav-link" href="#">Contact Us</a>
  </li>
  <li class="nav-item small">
    <a class="nav-link" href="#">Register</a>
  </li>
  <li class="nav-item small">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item small">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<app-user></app-user>




<router-outlet></router-outlet>
